<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.xc.modelfun.mapper.LabelInfoMapper">
  <resultMap id="BaseResultMap" type="com.wl.xc.modelfun.entities.po.LabelInfoPO">
    <!--@mbg.generated-->
    <!--@Table mf_label_info-->
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="task_id" jdbcType="BIGINT" property="taskId"/>
    <result column="dataset_id" jdbcType="INTEGER" property="datasetId"/>
    <result column="label_id" jdbcType="INTEGER" property="labelId"/>
    <result column="label_desc" jdbcType="LONGVARCHAR" property="labelDesc"/>
    <result column="high_frequency_word" jdbcType="VARCHAR" property="hfWord"/>
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="example" jdbcType="LONGVARCHAR" property="example" />
    <result column="update_datetime" jdbcType="TIMESTAMP" property="updateDatetime" />
    <result column="update_people" jdbcType="VARCHAR" property="updatePeople" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, task_id, dataset_id, label_id, label_desc, high_frequency_word, description, example, update_datetime,
    update_people
  </sql>

  <select id="pageLabelInfo" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List"/>
    from mf_label_info
    WHERE task_id = #{po.taskId,jdbcType=BIGINT}
    <if test="po.labelId != null">
      AND label_id = #{po.labelId,jdbcType=INTEGER}
    </if>
    <if test="po.labelDesc != null and po.labelDesc != ''">
      AND label_desc LIKE CONCAT('%', #{po.labelDesc,jdbcType=LONGVARCHAR}, '%')
    </if>
    <if test="po.description != null and po.description != ''">
      AND (description LIKE CONCAT('%', #{po.description,jdbcType=LONGVARCHAR}, '%') OR
           example LIKE CONCAT('%', #{po.description,jdbcType=LONGVARCHAR}, '%'))
    </if>
  </select>

  <insert id="copyLabelInfoFromTemplate">
    INSERT INTO mf_label_info (task_id, dataset_id, label_id, label_desc, high_frequency_word, `description`, example,
                               update_datetime)
    SELECT #{destTask,jdbcType=BIGINT},
           #{datasetId,jdbcType=INTEGER},
           label_id,
           label_desc,
           high_frequency_word,
           `description`,
           example,
           NOW()
    FROM mf_label_info_template
    WHERE task_id = #{srcTask,jdbcType=BIGINT}
  </insert>
</mapper>