<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.xc.modelfun.mapper.NerTrainLabelResultForBatchMapper">
  <resultMap id="BaseResultMap" type="com.wl.xc.modelfun.entities.po.NerTrainLabelResultPO">
    <!--@mbg.generated-->
    <!--@Table mf_ner_train_label_result-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="train_record_id" jdbcType="BIGINT" property="trainRecordId" />
    <result column="label_des" jdbcType="VARCHAR" property="labelDes" />
    <result column="train_precision" jdbcType="VARCHAR" property="trainPrecision" />
    <result column="recall" jdbcType="VARCHAR" property="recall" />
    <result column="samples" jdbcType="INTEGER" property="samples" />
    <result column="error_count" jdbcType="INTEGER" property="errorCount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, train_record_id, label_des, train_precision, recall, samples, error_count
  </sql>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wl.xc.modelfun.entities.po.NerTrainLabelResultPO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mf_ner_train_label_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trainRecordId != null">
        train_record_id,
      </if>
      <if test="labelDes != null">
        label_des,
      </if>
      <if test="trainPrecision != null">
        train_precision,
      </if>
      <if test="recall != null">
        recall,
      </if>
      <if test="samples != null">
        samples,
      </if>
      <if test="errorCount != null">
        error_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trainRecordId != null">
        #{trainRecordId,jdbcType=BIGINT},
      </if>
      <if test="labelDes != null">
        #{labelDes,jdbcType=VARCHAR},
      </if>
      <if test="trainPrecision != null">
        #{trainPrecision,jdbcType=VARCHAR},
      </if>
      <if test="recall != null">
        #{recall,jdbcType=VARCHAR},
      </if>
      <if test="samples != null">
        #{samples,jdbcType=INTEGER},
      </if>
      <if test="errorCount != null">
        #{errorCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>