<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.xc.modelfun.mapper.RuleUnlabeledResultMapper">
  <resultMap id="BaseResultMap" type="com.wl.xc.modelfun.entities.po.RuleUnlabeledResultPO">
    <!--@mbg.generated-->
    <!--@Table mf_rule_unlabeled_result-->
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="task_id" jdbcType="BIGINT" property="taskId"/>
    <result column="rule_id" jdbcType="BIGINT" property="ruleId"/>
    <result column="sentence_id" jdbcType="BIGINT" property="sentenceId"/>
    <result column="label_id" jdbcType="INTEGER" property="labelId"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id,
    task_id,
    rule_id,
    sentence_id,
    label_id
  </sql>

  <select id="selectRuleVoteDistinct" resultMap="com.wl.xc.modelfun.mapper.RuleResultMapper.RuleVote">
    SELECT a.sentence_id                                   AS sentence_id,
           GROUP_CONCAT(DISTINCT a.label_id SEPARATOR ',') AS label_vote
    FROM mf_rule_unlabeled_result a
    WHERE task_id = #{taskId, jdbcType=BIGINT}
      AND a.rule_id IN
          (SELECT id FROM mf_rule_info c WHERE c.task_id = #{taskId, jdbcType=BIGINT} AND c.rule_type > 0)
    GROUP BY a.sentence_id
  </select>

  <select id="countConflictResult" resultType="java.lang.Long">
    SELECT COUNT(1)
    FROM (SELECT (LENGTH(t.label_vote) - LENGTH(REPLACE(t.label_vote, ',', '')) + 1) AS vote_num
          FROM (SELECT GROUP_CONCAT(DISTINCT a.label_id SEPARATOR ',') AS label_vote
                FROM mf_rule_unlabeled_result a
                WHERE task_id = #{taskId, jdbcType=BIGINT}
                  AND a.rule_id IN
                      (SELECT id FROM mf_rule_info c WHERE c.task_id = #{taskId, jdbcType=BIGINT} AND c.rule_type > 0)
                  AND a.label_id > -1
                GROUP BY a.sentence_id) t) c
    WHERE vote_num > 1
  </select>

  <select id="countCoverageResult" resultType="java.lang.Long">
    SELECT COUNT(1)
    FROM (SELECT 1
          FROM mf_rule_unlabeled_result a
          WHERE a.task_id = #{taskId, jdbcType=BIGINT}
            AND a.rule_id IN
                (SELECT id FROM mf_rule_info c WHERE c.task_id = #{taskId, jdbcType=BIGINT} AND c.rule_type > 0)
            AND a.label_id > -1
          GROUP BY a.sentence_id) t
  </select>

  <select id="simplePageByTaskIdAndRuleId" resultMap="BaseResultMap">
    SELECT sentence_id,
           label_id
    FROM mf_rule_unlabeled_result
    WHERE task_id = #{taskId, jdbcType=BIGINT}
      AND rule_id = #{ruleId, jdbcType=BIGINT}
    LIMIT #{offset}, #{size}
  </select>

  <select id="selectUnlabeledDataVoteGroup" resultMap="com.wl.xc.modelfun.mapper.RuleResultMapper.RuleVote">
    SELECT a.data_id as sentence_id,
           b.label_vote
    FROM mf_unlabel_data a
           LEFT JOIN (SELECT sentence_id, group_concat(a.label_id SEPARATOR ',') AS label_vote
                      FROM mf_rule_unlabeled_result a
                      WHERE task_id = #{taskId, jdbcType=BIGINT}
                      GROUP BY a.sentence_id) b ON a.data_id = b.sentence_id
    WHERE a.task_id = #{taskId, jdbcType=BIGINT}
    LIMIT #{offset}, #{size}
  </select>

  <insert id="copyRuleUnlabeledResultFromTemplate">
    INSERT INTO mf_rule_unlabeled_result (task_id, rule_id, sentence_id, label_id)
    SELECT #{destTask, jdbcType=BIGINT},
           #{destRule, jdbcType=BIGINT},
           sentence_id,
           label_id
    FROM mf_rule_unlabeled_result_template
    WHERE task_id = #{srcTask, jdbcType=BIGINT}
      AND rule_id = #{srcRule, jdbcType=BIGINT}
  </insert>
</mapper>