<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.xc.modelfun.mapper.RuleVoteResultMapper">
  <resultMap id="BaseResultMap" type="com.wl.xc.modelfun.entities.po.RuleVoteResultPO">
    <!--@mbg.generated-->
    <!--@Table mf_rule_vote_result-->
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="sentence_id" jdbcType="BIGINT" property="sentenceId" />
    <result column="label_id" jdbcType="INTEGER" property="labelId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    task_id, sentence_id, label_id
  </sql>
</mapper>