<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.xc.modelfun.mapper.RuleInfoMapper">
  <resultMap id="BaseResultMap" type="com.wl.xc.modelfun.entities.po.RuleInfoPO">
    <!--@mbg.generated-->
    <!--@Table mf_rule_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="dataset_id" jdbcType="INTEGER" property="datasetId" />
    <result column="rule_type" jdbcType="INTEGER" property="ruleType" />
    <result column="rule_name" jdbcType="VARCHAR" property="ruleName" />
    <result column="label" jdbcType="INTEGER" property="label" />
    <result column="label_des" jdbcType="VARCHAR" property="labelDes" />
    <result column="accuracy" jdbcType="VARCHAR" property="accuracy" />
    <result column="conflict" jdbcType="VARCHAR" property="conflict" />
    <result column="coverage" jdbcType="VARCHAR" property="coverage" />
    <result column="unlabeled_coverage" jdbcType="VARCHAR" property="unlabeledCoverage" />
    <result column="overlap" jdbcType="VARCHAR" property="overlap" />
    <result column="completed" jdbcType="INTEGER" property="completed" />
    <result column="metadata" jdbcType="LONGVARCHAR" property="metadata" />
    <result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime" />
    <result column="create_start_time" jdbcType="TIMESTAMP" property="createStartTime" />
    <result column="create_end_time" jdbcType="TIMESTAMP" property="createEndTime" />
    <result column="update_datetime" jdbcType="TIMESTAMP" property="updateDatetime" />
    <result column="update_start_time" jdbcType="TIMESTAMP" property="updateStartTime" />
    <result column="update_end_time" jdbcType="TIMESTAMP" property="updateEndTime" />
    <result column="auto_generated" jdbcType="TINYINT" javaType="Boolean" property="autoGenerated" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, task_id, dataset_id, rule_type, rule_name, label, label_des, accuracy, conflict, coverage, metadata,
    create_datetime, create_start_time, create_end_time, update_datetime, update_start_time, overlap,
    unlabeled_coverage, completed, update_end_time, auto_generated
  </sql>

  <select id="selectBySelective" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from mf_rule_info
    <where>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT}
      </if>
      <if test="taskId != null">
        and task_id = #{taskId,jdbcType=BIGINT}
      </if>
      <if test="datasetId != null">
        and dataset_id = #{datasetId,jdbcType=INTEGER}
      </if>
      <if test="ruleType != null">
        and rule_type = #{ruleType,jdbcType=INTEGER}
      </if>
      <if test="ruleName != null">
        and rule_name = #{ruleName,jdbcType=VARCHAR}
      </if>
      <if test="label != null">
        and `label` = #{label,jdbcType=INTEGER}
      </if>
      <if test="labelDes != null">
        and label_des = #{labelDes,jdbcType=VARCHAR}
      </if>
      <if test="accuracy != null">
        and accuracy = #{accuracy,jdbcType=VARCHAR}
      </if>
      <if test="coverage != null">
        and coverage = #{coverage,jdbcType=VARCHAR}
      </if>
      <if test="conflict != null">
        and conflict = #{conflict,jdbcType=VARCHAR}
      </if>
      <if test="completed != null">
        and completed = #{completed,jdbcType=TINYINT}
      </if>
      <if test="unlabeledCoverage != null">
        and unlabeled_coverage = #{unlabeledCoverage,jdbcType=VARCHAR}
      </if>
      <if test="overlap != null">
        and overlap = #{overlap,jdbcType=VARCHAR}
      </if>
      <if test="metadata != null">
        and metadata = #{metadata,jdbcType=LONGVARCHAR}
      </if>
      <if test="createDatetime != null">
        and create_datetime = #{createDatetime,jdbcType=TIMESTAMP}
      </if>
      <if test="createStartTime != null">
        and create_start_time = #{createStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createEndTime != null">
        and create_end_time = #{createEndTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateDatetime != null">
        and update_datetime = #{updateDatetime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateStartTime != null">
        and update_start_time = #{updateStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateEndTime != null">
        and update_end_time = #{updateEndTime,jdbcType=TIMESTAMP}
      </if>
      <if test="autoGenerated != null">
        and auto_generated = #{autoGenerated,jdbcType=TINYINT}
      </if>
    </where>
  </select>

  <update id="updateByIdSelective" parameterType="com.wl.xc.modelfun.entities.po.RuleInfoPO">
    <!--@mbg.generated-->
    update mf_rule_info
    <set>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=BIGINT},
      </if>
      <if test="datasetId != null">
        dataset_id = #{datasetId,jdbcType=INTEGER},
      </if>
      <if test="ruleType != null">
        rule_type = #{ruleType,jdbcType=INTEGER},
      </if>
      <if test="ruleName != null">
        rule_name = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        `label` = #{label,jdbcType=INTEGER},
      </if>
      <if test="labelDes != null">
        label_des = #{labelDes,jdbcType=VARCHAR},
      </if>
      <if test="accuracy != null">
        accuracy = #{accuracy,jdbcType=VARCHAR},
      </if>
      <if test="coverage != null">
        coverage = #{coverage,jdbcType=VARCHAR},
      </if>
      <if test="conflict != null">
        conflict = #{conflict,jdbcType=VARCHAR},
      </if>
      <if test="completed != null">
        completed = #{completed,jdbcType=TINYINT},
      </if>
      <if test="unlabeledCoverage != null">
        unlabeled_coverage = #{unlabeledCoverage,jdbcType=VARCHAR},
      </if>
      <if test="overlap != null">
        overlap = #{overlap,jdbcType=VARCHAR},
      </if>
      <if test="metadata != null">
        metadata = #{metadata,jdbcType=LONGVARCHAR},
      </if>
      <if test="createDatetime != null">
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createStartTime != null">
        create_start_time = #{createStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createEndTime != null">
        create_end_time = #{createEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null">
        update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateStartTime != null">
        update_start_time = #{updateStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateEndTime != null">
        update_end_time = #{updateEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="autoGenerated != null">
        auto_generated = #{autoGenerated,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <delete id="deleteSelective" parameterType="com.wl.xc.modelfun.entities.po.RuleInfoPO">
    DELETE
    FROM mf_rule_info WHERE
    <trim prefixOverrides="and">
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="taskId != null">
        and task_id = #{taskId,jdbcType=BIGINT}
      </if>
      <if test="datasetId != null">
        and dataset_id = #{datasetId,jdbcType=INTEGER}
      </if>
      <if test="ruleType != null">
        and rule_type = #{ruleType,jdbcType=INTEGER}
      </if>
      <if test="ruleName != null">
        and rule_name = #{ruleName,jdbcType=VARCHAR}
      </if>
      <if test="label != null">
        and `label` = #{label,jdbcType=INTEGER}
      </if>
      <if test="labelDes != null">
        and label_des = #{labelDes,jdbcType=VARCHAR}
      </if>
      <if test="accuracy != null">
        and accuracy = #{accuracy,jdbcType=VARCHAR}
      </if>
      <if test="coverage != null">
        and coverage = #{coverage,jdbcType=VARCHAR}
      </if>
      <if test="conflict != null">
        and conflict = #{conflict,jdbcType=VARCHAR}
      </if>
      <if test="completed != null">
        and completed = #{completed,jdbcType=TINYINT}
      </if>
      <if test="unlabeledCoverage != null">
        and unlabeled_coverage = #{unlabeledCoverage,jdbcType=VARCHAR}
      </if>
      <if test="overlap != null">
        and overlap = #{overlap,jdbcType=VARCHAR}
      </if>
      <if test="metadata != null">
        and metadata = #{metadata,jdbcType=LONGVARCHAR}
      </if>
      <if test="createDatetime != null">
        and create_datetime = #{createDatetime,jdbcType=TIMESTAMP}
      </if>
      <if test="createStartTime != null">
        and create_start_time = #{createStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createEndTime != null">
        and create_end_time = #{createEndTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateDatetime != null">
        and update_datetime = #{updateDatetime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateStartTime != null">
        and update_start_time = #{updateStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateEndTime != null">
        and update_end_time = #{updateEndTime,jdbcType=TIMESTAMP}
      </if>
      <if test="autoGenerated != null">
        and auto_generated = #{autoGenerated,jdbcType=TINYINT}
      </if>
    </trim>
  </delete>

  <select id="getRuleTemplateByTaskId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM mf_rule_info_template WHERE task_id = #{taskId,jdbcType=BIGINT}
  </select>
</mapper>