<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.xc.modelfun.mapper.TrainLabelSentenceInfoForBatchMapper">
  <resultMap id="BaseResultMap" type="com.wl.xc.modelfun.entities.po.TrainLabelSentenceInfoPO">
    <!--@mbg.generated-->
    <!--@Table mf_train_label_sentence_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="train_record_id" jdbcType="BIGINT" property="trainRecordId" />
    <result column="data_id" jdbcType="BIGINT" property="dataId" />
    <result column="sentence" jdbcType="LONGVARCHAR" property="sentence" />
    <result column="label_actual" jdbcType="VARCHAR" property="labelActual" />
    <result column="label_predict" jdbcType="VARCHAR" property="labelPredict" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, train_record_id, data_id, sentence, label_actual, label_predict
  </sql>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wl.xc.modelfun.entities.po.TrainLabelSentenceInfoPO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mf_train_label_sentence_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trainRecordId != null">
        train_record_id,
      </if>
      <if test="dataId != null">
        data_id,
      </if>
      <if test="sentence != null">
        sentence,
      </if>
      <if test="labelActual != null">
        label_actual,
      </if>
      <if test="labelPredict != null">
        label_predict,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trainRecordId != null">
        #{trainRecordId,jdbcType=BIGINT},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=BIGINT},
      </if>
      <if test="sentence != null">
        #{sentence,jdbcType=LONGVARCHAR},
      </if>
      <if test="labelActual != null">
        #{labelActual,jdbcType=LONGVARCHAR},
      </if>
      <if test="labelPredict != null">
        #{labelPredict,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

</mapper>