<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wl.xc.modelfun.mapper.UnlabelDataForBatchMapper">
  <resultMap id="BaseResultMap" type="com.wl.xc.modelfun.entities.po.UnlabelDataPO">
    <!--@mbg.generated-->
    <!--@Table mf_unlabel_data-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="data_set_id" jdbcType="INTEGER" property="dataSetId" />
    <result column="data_id" jdbcType="BIGINT" property="dataId" />
    <result column="label" jdbcType="INTEGER" property="label" />
    <result column="sentence" jdbcType="LONGVARCHAR" property="sentence" />
    <result column="label_des" jdbcType="LONGVARCHAR" property="labelDes" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, task_id, data_set_id, data_id, `label`, sentence, label_des
  </sql>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wl.xc.modelfun.entities.po.UnlabelDataPO" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into mf_unlabel_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        task_id,
      </if>
      <if test="dataSetId != null">
        data_set_id,
      </if>
      <if test="dataId != null">
        data_id,
      </if>
      <if test="label != null">
        `label`,
      </if>
      <if test="sentence != null">
        sentence,
      </if>
      <if test="labelDes != null">
        label_des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="dataSetId != null">
        #{dataSetId,jdbcType=INTEGER},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=BIGINT},
      </if>
      <if test="label != null">
        #{label,jdbcType=INTEGER},
      </if>
      <if test="sentence != null">
        #{sentence,jdbcType=LONGVARCHAR},
      </if>
      <if test="labelDes != null">
        #{labelDes,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.wl.xc.modelfun.entities.po.UnlabelDataPO">
    <!--@mbg.generated-->
    update mf_unlabel_data
    <set>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=BIGINT},
      </if>
      <if test="dataSetId != null">
        data_set_id = #{dataSetId,jdbcType=INTEGER},
      </if>
      <if test="dataId != null">
        data_id = #{dataId,jdbcType=BIGINT},
      </if>
      <if test="label != null">
        `label` = #{label,jdbcType=INTEGER},
      </if>
      <if test="sentence != null">
        sentence = #{sentence,jdbcType=LONGVARCHAR},
      </if>
      <if test="labelDes != null">
        label_des = #{labelDes,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="listByDataId" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM mf_unlabel_data
    WHERE task_id = #{taskId,jdbcType=BIGINT}
    AND data_id IN
    <foreach collection="sentenceIds" item="sentenceId" open="(" close=")" separator=",">
      #{sentenceId,jdbcType=BIGINT}
    </foreach>
  </select>
</mapper>